/*--------------------------------------------------------------
# DanzerPress Layouts
--------------------------------------------------------------*/
/*Fonts*/
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #333333 !important;
}
p,
li,
a,
ul,
input,
textarea {
	font-family: 'Open Sans', sans-serif;
}
p {
    margin: 0 0 20px;
    font-size: 16px;
    line-height: 26px;
    color: grey;
}
.danzerpress-title {
    font-size: 40px;
    letter-spacing: 3.5px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    padding: 0px;
    margin: inherit;
    margin-top: 0px;
    margin-bottom: 15px;
}
h2.danzerpress-title {
    font-size: 32px;
    line-height: 35px;
    margin-bottom: 5px;
    margin-top: 20px;
}
h4,
h3.widget-title {
    margin-top: 0px;
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 0;
}
h3.widget-title {
	font-size: 20px;
}
h5,
.danzerpress-small-title {
    margin-top: 0px;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 22px;
}

/*Styles*/
.danzerpress-page-look {
	background: white;
    border: 2px solid rgba(128, 128, 128, 0.33);
}
.danzerpress-white {
	background: white;
}
.danzerpress-grey {
	background: rgb(248, 249, 249);
}
.danzerpress-button-modern, 
.form-row input.woocommerce-Button.button, 
input[type="button"], 
input[type="reset"], 
input[type="submit"] {
    background: #0567a8!important;
    border: 1px solid #0567a8!important;
    z-index: 7;
    white-space: nowrap !important;
    font-size: 15px !important;
    line-height: 15px !important;
    font-weight: 600 !important;
    font-family: Raleway !important;
    border: 2px solid #05C4EB !important;
    border-radius: 4px !important;
    letter-spacing: 1px !important;
    /* margin: 0 !important; */
    padding: 14px 35px 15px !important;
    min-height: 0 !important;
    min-width: 0 !important;
    max-height: none !important;
    max-width: none !important;
    opacity: 1 !important;
    transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1) !important;
    transform-origin: 50% 50% 0 !important;
    background: #05C4EB !important;
    color: white !important;
    text-transform: uppercase;
    display: inline-block;
    text-align: center !important;
}

a.danzerpress-button-modern-transparent {
    background: transparent !important;
    /* border: 2px solid #31ba57 !important; */
    color: #333333 !important;
    margin-top: 8px;
    display: inline-block;
    font-weight: bold;
}
a.danzerpress-button-modern:hover {
    background: #242a2f !important;
    opacity: 1 !important;
    transition: .5s;
    color: white !important;
    border-color: #242a2f !important;
}
.danzerpress-button-left {
    margin-right: 15px;
}
.danzerpress-button-off {
    background: #494949 !important;
}
.danzerpress-odd {
	background: #f8f9f9 !important;
}

/*Contact form 7*/
span.wpcf7-not-valid-tip {
    text-transform: uppercase;
    font-size: 12px;
    color: red;
}
div.wpcf7-mail-sent-ok {
    border: 2px solid #31ba57;
    background: #31ba57;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
}
div.wpcf7-validation-errors {
    border: 2px solid red;
    background: red;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
}
.danzerpress-color-white {
	color: white !important;
}

/*Section wraps*/
.danzerpress-container-fw {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    /* overflow: hidden; */
    background: #f8f9f9;
}
.home .danzerpress-container-fw {
    padding: 0;
}
.danzerpress-wrap {
	width: 80%;
	margin: auto;
	max-width: 1500px;
	overflow: hidden;
}
.danzerpress-main-ns {
    flex: 0 0 calc(100%);
}
.danzerpress-main-ws {
    flex: 0 0 calc(70% - 40px);
    /*padding: 40px 0;*/
    margin-right: 0;
}
.danzerpress-sidebar {
    flex: 0 0 calc(30% - 30px);
    margin-left: 30px;
    margin-bottom: 50px;
    align-self: flex-start;
}
.danzerpress-sidebar-section {
    margin-bottom: 30px;
    padding: 20px;
}
.danzerpress-sidebar-section p:last-child {
    margin: 0;
}
.danzerpress-section {
	background: white;
	padding: 140px 0;
	overflow: hidden;
}
.danzerpress-section-wrap {
	width: 80%;
	margin: auto;
}
.danzerpress-box {
    padding: 20px;
    /*Fixes issues in IE */
    flex: 1 0 auto;
    min-height: 1px;
}
.danzerpress-box p:last-child {
    margin: 0;
}
.danzerpress-col-center {
	margin: 0 auto 20px !important;
}

/*Flex directions*/
.danzerpress-flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.danzerpress-flex-column {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

/*Justify Flex layout*/
.danzerpress-justify-start {
	justify-content: flex-start;
}
.danzerpress-justify-end {
	justify-content: flex-end;
}
.danzerpress-justify-center {
	justify-content: center;
}
.danzerpress-justify-around {
	justify-content: space-around;
}
.danzerpress-justify-between {
	justify-content: space-between;
}
.danzerpress-align-center {
  align-self: center;
}

/*Padding/Margin Fixes*/
.danzerpress-col-margin-zero {
    margin: 0 auto !important;
}
/*Override Margins completely*/
.danzerpress-zero {
	margin: 0 !important;
}

/*Layout Percentages*/
.danzerpress-col-1 {
	-ms-flex: 0 0 calc(100% - 30px);
	flex: 0 0 calc(100% - 30px);
	max-width: calc(100% - 30px);
	margin: 0 15px 20px;
}
.danzerpress-col-2 {
    -ms-flex: 0 0 calc(50% - 30px);
    flex: 0 0 calc(50% - 30px);
    max-width: calc(50% - 30px);
    margin: 0 15px 20px;
}
.danzerpress-col-2-fix {
	-ms-flex: 0 0 calc(50%);
    flex: 0 0 calc(50%);
    max-width: calc(50%);
    line-height: 0px;
}
.danzerpress-col-3 {
	-ms-flex: 0 0 calc(33.333333% - 30px);
	flex: 0 0 calc(33.333333% - 30px);
	max-width: calc(33.333333% - 30px);
	margin: 0 15px 20px;
}
.danzerpress-col-4 {
	-ms-flex: 0 0 calc(25% - 30px);
	flex: 0 0 calc(25% - 30px);
	max-width: calc(25% - 30px);
	margin: 0 15px 20px;
}
.danzerpress-col-5 {
	-ms-flex: 0 0 calc(20% - 30px);
	flex: 0 0 calc(20% - 30px);
	max-width: calc(20% - 30px);
	margin: 0 15px 20px;
}
.danzerpress-col-6 {
	-ms-flex: 0 0 calc(16.666667% - 30px);
	flex: 0 0 calc(16.666667% - 30px);
	max-width: calc(16.666667% - 30px);
	margin: 0 15px 20px;
}
.danzerpress-col-7 {
	-ms-flex: 0 0 calc(58.333333% - 30px);
	flex: 0 0 calc(58.333333% - 30px);
	max-width: calc(58.333333% - 30px);
	margin: 0 15px 20px;
}
.danzerpress-one-third {
	-ms-flex: 0 0 calc(33.333333% - 30px);
	flex: 0 0 calc(33.333333% - 30px);
	max-width: calc(33.333333% - 30px);
	margin: 0 15px 20px;
}
.danzerpress-one-third-fix {
	-ms-flex: 0 0 calc(33.333333%);
	flex: 0 0 calc(33.333333%);
	max-width: calc(33.333333%);
	margin: 0 15px 20px;
}
/*.danzerpress-col-8*/
.danzerpress-two-thirds {
	-ms-flex: 0 0 calc(66.666667% - 30px);
	flex: 0 0 calc(66.666667% - 30px);
	max-width: calc(66.666667% - 30px);
	margin: 0 15px 20px;
}
.danzerpress-two-thirds-fix {
	-ms-flex: 0 0 calc(66.666667%);
	flex: 0 0 calc(66.666667%);
	max-width: calc(66.666667%);
	margin: 0 15px 20px;
}

/*danzerpress-col-4*/
.danzerpress-one-fourth {
    -ms-flex: 0 0 calc(25% - 30px);
    flex: 0 0 calc(25% - 30px);
    max-width: calc(25% - 30px);
    margin: 0 15px 20px;
}
.danzerpress-one-half {
	-ms-flex: 0 0 calc(50% - 30px);
	flex: 0 0 calc(50% - 30px);
	max-width: calc(50% - 30px);
    margin: 0 15px 20px;
}
/*.danzerpress-col-9*/
.danzerpress-three-fourths {
	-ms-flex: 0 0 calc(75% - 30px);
	flex: 0 0 calc(75% - 30px);
	max-width: calc(75% - 30px);
	margin: 0 15px 20px;
}

/*.danzerpress-col-10*/
.danzerpress-four-fifths {
	-ms-flex: 0 0 calc(83.333333% - 30px);
	flex: 0 0 calc(83.333333% - 30px);
	max-width: calc(83.333333% - 30px);
	margin: 0 15px 20px;
}

/*Making everything 100% fixes issues in internet explorer*/
.danzerpress-col-1,
.danzerpress-col-2,
.danzerpress-col-3,
.danzerpress-col-4,
.danzerpress-col-5,
.danzerpress-col-7,
.danzerpress-one-third,
.danzerpress-two-thirds,
.danzerpress-one-fourth,
.danzerpress-one-half,
.danzerpress-three-fourths,
.danzerpress-four-fifths,
.danzerpress-main-ns,
.danzerpress-main-ws,
.danzerpress-sidebar {
	width: 100%;
}



/*danzerpress-orders*/
.danzerpress-order-1 {
	order: 1;
}
@media screen and (max-width: 767px) {
	.danzerpress-order-1 {
		order: 0;
	}
}

/*Respsonsive*/
@media screen and (max-width: 1450px) {
	.danzerpress-wrap,
	.danzerpress-section-wrap  {
	    width: 90%;
	    margin: auto;
	}
}
@media screen and (max-width: 1150px) {
	.danzerpress-col-5,
  .danzerpress-col-6 {
		-ms-flex: 0 0 calc(33.333333% - 30px);
		flex: 0 0 calc(33.333333% - 30px);
		max-width: calc(33.333333% - 30px);
	}
}
@media screen and (max-width: 1050px) {
	.danzerpress-main-ws {
		flex: 0 0 calc(100%);
    margin-bottom: 50px;
  }
	.danzerpress-sidebar {
		flex: 0 0 calc(100%);
		margin: 0 0 50px;
	}
}
@media screen and (max-width: 1024px) {
	.danzerpress-col-3,
	.danzerpress-col-4,
	.danzerpress-col-5,
  	.danzerpress-col-6 {
	    -ms-flex: 0 0 calc(50% - 30px);
		flex: 0 0 calc(50% - 30px);
		max-width: calc(50% - 30px);
	}
	.danzerpress-two-thirds.danzerpress-col-center,
	.danzerpress-three-fourths.danzerpress-col-center,
	.danzerpress-four-fifths.danzerpress-col-center,
	.danzerpress-one-third-fix,
	.danzerpress-two-thirds-fix {
	    -ms-flex: 0 0 calc(100%);
	    flex: 0 0 calc(100%);
	    max-width: calc(100%);
		margin: 0px 0px 20px;
	}
	.danzerpress-one-third,
	.danzerpress-two-thirds,
	.danzerpress-one-fourth,
	.danzerpress-three-fourths, 
	.danzerpress-one-half {
	    -ms-flex: 0 0 calc(100%);
	    flex: 0 0 calc(100%);
	    max-width: calc(100%);
		margin: 0px 0px 20px;
	}
}
@media screen and (max-width: 767px) {
	/*Fonts*/
	p {
	    font-size: 14px !important;
	}
	h5 {
	    font-size: 20px;
	}
	.danzerpress-title {
	    font-size: 30px;
	    letter-spacing: 2px;
	}
	div.danzerpress-section {
        padding: 40px 0 !important;
    }
    h2.danzerpress-title {
        font-size: 22px;
        line-height: 29px;
    }
	/*Styles*/
	.danzerpress-page-look {
	    border: none;
	}
	.danzerpress-button, 
  	.form-row input.woocommerce-Button.button, 
  	button, input[type="button"], 
  	input[type="reset"], 
  	input[type="submit"] {
	    display: block !important;
	    margin-bottom: 20px;
      	width: 100%;
	}
	/*Section wraps*/
	.danzerpress-main-ws,
	.danzerpress-main-ns,
	.danzerpress-sidebar {
		/*padding: 0 15px;*/
	}
	.danzerpress-wrap, 
    .danzerpress-section-wrap {
        width: calc(100% - 60px);
        margin: auto;
    }
	/*Percentages*/
	.danzerpress-col-1,
	.danzerpress-col-2,
	.danzerpress-col-2-fix,
	.danzerpress-col-3,
	.danzerpress-col-4,
	.danzerpress-col-5,
	.danzerpress-one-third,
	.danzerpress-two-thirds,
	.danzerpress-one-fourth,
	.danzerpress-three-fourths,
	.danzerpress-one-half {
	    -ms-flex: 0 0 calc(100%);
		flex: 0 0 100%;
		max-width: 100%;
		margin: 0px 0px 20px;
	}
	.danzerpress-md-2 {
	    -ms-flex: 0 0 calc(50% - 30px);
		flex: 0 0 calc(50% - 30px);
		max-width: calc(50% - 30px);
		margin: 0 15px 20px;
	}
	/*Fixes*/
	.danzerpress-col-center {
		margin: inherit;
	}
}
@media screen and (max-width: 500px) {
	/*Styles*/
    .danzerpress-button-modern, 
    .form-row input.woocommerce-Button.button, 
    input[type="button"], 
    input[type="reset"], 
    input[type="submit"] {
        display: block;
        width: 100%;
    }
    .danzerpress-section-content h2, 
    .danzerpress-section-content p {
	    /*text-align: left;*/
	}
	a.danzerpress-button-modern-transparent {
	    text-align: center;
	    display: block;
	}
	.danzerpress-section-content p {
		font-size: 14px !important;
	}
	.danzerpress-xs-1 {
	    -ms-flex: 0 0 calc(100%);
		flex: 0 0 100%;
		max-width: 100%;
		margin: 0px 0px 20px;
	}
	.danzerpress-xs-2 {
	    -ms-flex: 0 0 calc(100%);
		flex: 0 0 100%;
		max-width: 100%;
		margin: 0px 0px 20px;
	}
	.danzerpress-button-left {
		margin-right: 0px;
	}
}